jupyterlab>=3.5.2
numpy>=1.24.1
pandas>=1.5.3
polars>=0.15.16 
matplotlib>=3.6.3
seaborn>=0.12.2
scikit-learn>=1.2.0 
xlsx2csv>=0.8.1
pyarrow>=11.0.0
git+https://github.com/mariolpantunes/nmf@main#egg=nmf
git+https://github.com/mariolpantunes/knee@main#egg=knee
